.button{
      
    -fx-text-fill:   #006464;
      -fx-border-color:  #001a80ff;
      -fx-background-color:  #00ffffff;
      
    -fx-border-radius:   20
      
    -fx-background-color:   #DFB951;
}

.slider{
      
    -fx-text-fill:   #006464;
      
    -fx-border-radius:   20;
      
    -fx-background-color:   #DFB951;
}

.label{
      
    -fx-text-fill:   #006464;
      
    -fx-font-family:   "Forte";
      
    -fx-font-size:   9pt;
      
    -fx-border-radius:   20;
      
    -fx-background-color:   #DFB951;
}

.check-box{
      
    -fx-text-fill:   #006464;
      
    -fx-border-radius:   20;
      
    -fx-background-color:   #DFB951;
}

.root{
      
    -fx-border-width:   2;
      
    -fx-font-family:   "Tahoma";
      
    -fx-font-size:   14pt;
      
    -fx-background-radius:   10;
      
    -fx-border-radius:   10;
      
    -fx-background-color:   #99b3ff;
      
    -fx-border-color:   black;
      
    -fx-focus-color:   #B6A678;
}

.combo-box{
      
    -fx-text-fill:   #006464;
      
    -fx-border-radius:   20;
      
    -fx-background-color:   #DFB951;
}

.text-field{
      
    -fx-text-fill:   #006464;
      
    -fx-border-radius:   20;
      
    -fx-background-color:   #DFB951;
}

